@import "tailwindcss";

@theme inline {
  --color-background: #F8F6F0;
  --color-foreground: #2D2D2D;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-pastel-beige: #EAE3D2;
  --color-cream: #F8F6F0;
  --color-charcoal: #2D2D2D;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
